.right{
  float:right;
}

span.left{
  float:left;
  margin-right:10px;
}

i{
  margin-right:5px;
}

span.title{
  font-weight:600;
  min-height:50px;
  overflow:auto;
}

span.group_name{
  padding:0 15px;
  text-align:center;
}

form.login.bootstrap-form-with-validation{
  max-width:400px;
  margin:0 auto;
}

.er{
  color:red;
}

div.dropdown{
  display:inline;
}

